<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/docs/new"><button name="new" id="new">+ New Doc</button></a>
    
    <% for (let doc of docs) {%>
        <li><p><%= doc.title%> - </p><a href="/docs/<%= doc.id %>">Link</a></li>
    <% } %>
</body>
</html>