<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="search-bar">
    
    <ul id="Doc-list" style="background-color: antiquewhite;"> 

    </ul>
    <form action="/docs/new" method="post">
        <button name="new" id="new">+ New Doc</button>
    </form>
    <select name="" id="">
        <option value="">A-Z</option>
        <option value="">Date created</option>
        <option value="">Date modified</option>
    </select>
    <ul >
        <% for (let doc of docs) {%>
            <li><p><%= doc.title%> - </p><a href="/docs/<%= doc.id %>/edit">Link</a></li>
        <% } %>
        </ul>
    <script src="/search.js"></script>
</body>
</html>