<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="search-bar">
    
    <ul id="Doc-list" style="background-color: antiquewhite;"> 

    </ul>
    <form action="/docs/new" method="post">
        <button name="new" id="new">+ New Doc</button>
    </form>
    <select name="sort" id="sort">
        <option value="Date modified">Date modified</option>
        <option value="Date created">Date created</option>
        <option value="A-Z">A-Z</option>
    </select>
    <ul >
        <% for (let doc of docs) {%>
            <li><p><%= doc.title%> - <a href="/docs/<%= doc.id %>/edit">Link</a></p></li>
        <% } %>
    </ul>
    <script src="/scripts/search.js"></script>
    <script src="/scripts/sort.js"></script>
</body>
</html>