<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/Index.css">
    <link rel="stylesheet" href="/styles/templates/topbar.css">
</head>

<body>
    <div class="topbar">
        <a class="logo" href="/docs"><img src="/images/logo.svg" alt=""></a>
        <div class="brand">Doc Editor</div>
        <div class="search">
            <input type="text" id="search-bar" placeholder="Search">
            <img src="/images/search.svg" alt="">
        </div>
        <div class="options">
            <a href="/docs">Dashboard</a>
            <a href="/docs">Projects</a>
            <a href="/docs">Friends</a>
            <a href="/docs">Settings</a>
        </div>
        <div class="profile" href="/docs">
            <img src="/images/sahil.png" alt="" class="profile-pic">
            <div class="name">Sahil Batgeri</div>
        </div>
    </div>

    <div class="hero">
        <div class="header">
            <p>Documents</p>
            <form action="/docs/new" method="post">
                <button name="new" id="new">+ New Doc</button>
            </form>
        </div>
        <div class="details">
            <p>23 Documents</p>
            <div class="sort-container">
                <img src="/images/sort.svg" alt="">
                <select name="sort" id="sort">
                    <option value="Date modified">Date modified</option>
                    <option value="Date created"><img src="/images/sort.svg" alt="">Date created</option>
                    <option value="A-Z"><img src="/images/sort.svg" alt="">A-Z</option>
                </select>
            </div>
        </div>

        <div class="document-container" >
            <% for (let doc of docs) {%>
                <a class="document" href="/docs/<%= doc.id %>/edit">
                    <div class="title">
                        <p>
                            <%= doc.title%> 
                        </p>
                    </div>
                </a>
            <% } %>
            
        </div>
    </div>



    <script src="/scripts/search.js"></script>
    <script src="/scripts/sort.js"></script>
    
</body>

</html>